<configuration>
  <system.webServer>
    
    <httpErrors errorMode="Detailed" />

    <!-- WebDAV modülünü devre dışı bırak -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="server.js" verb="GET,POST,PUT,DELETE,PATCH,OPTIONS,HEAD" modules="iisnode" />
    </handlers>

    <!-- WebDAV ile çakışmayı önle -->
    <defaultDocument enabled="false" />
    
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment=".env" />
        </hiddenSegments>
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <iisnode 
      node_env="production"
      loggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="iisnode"
      watchedFiles="web.config;*.js"
    />
    
  </system.webServer>
</configuration>